body{
	background-color: #f6f6f6;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.container{
	display: flex;
  justify-content: space-between;
  width: 800px;
  margin-top: 70px;
}
.left{
	width: 450px;
	display: inline-block;
}

.right{
	display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

input{
	margin:5px;
	width:90%;
	border: 1px solid rgb(204, 204, 204);
    padding: 10px;
    border-radius: 5px;
}

button {
  background-color: rgb(24, 119, 242);
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  color: white;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none solid rgb(24, 119, 242);
  color: rgb(24, 119, 242);
}

.signup {
  background-color: rgb(66, 183, 42);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
}

form{
	gap: 10px;
    display: flex;
    border-radius: 5px; 
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    align-items: flex-start;
   box-shadow: rgb(204, 204, 204) 0px 0px 10px 0px ;
}
	

